.control{
  border: 1px solid black;
  width: 600px;
  height: 200px;
  background-color: yellow;
}
.newCart{
  color: white;
  background-color: blue;
  text-align: center;
}
.inputGuess{
  width: 80px;
}