.guess{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background-color:purple;
}
.check{
  border: 1px solid black;
  height: 200px;
  width: 600px;
  background-color:green;
}
.guessButton{
  color: white;
  background-color: green;
}